/* styling for the digital clock */

/* styling for the background */
body {
    background-image: url(assets/background.png);
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* doesn't allow it to repeat */
    background-size: cover; /* covers the outer div element */
    background-attachment: fixed; /* attaches to size of window */
    margin: 0; /* removes margin in body */

    /* OPTIONAL (centers vertically) */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

/* styling for the outer div element */
.clock-container {
    backdrop-filter: blur(5px);
    padding: 10px 15px;
    border: 3px solid white;
}

/* styling for the inner div element */
.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center; /* centers horizontally */
    text-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.75);
}